---
BasedOnStyle: Mozilla
AlignOperands: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterClass:      true
  AfterEnum:       true
  AfterFunction:   true
  AfterStruct:     true
  AfterUnion:      true
BreakBeforeBraces: Custom
Cpp11BracedListStyle: FunctionCall
ColumnLimit: 100
IndentPPDirectives: AfterHash
InsertBraces: true
QualifierAlignment: Right
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: true
...
